.btn.btn-primary {
    background-color: $colorprimario;
    border-color: $colorprimario;
  
    &:hover{
        background-color: $colorTextoNav;
        color: $colorprimario;
        border-color: $colorTextoNav;
    }
}
.btn.btn-primary.position-relative{
    background-color: $colorTextoNav;
    color: $colorprimario;
        &:hover{
            background-color: $colorFondoCarrito;
        
        }
}
.btn.btn-outline-secondary{
    background-color: $colorTextoNav;
    color: $colorprimario;
    border-color: $colorTextoNav;
    &:hover{
        background-color: $colorFondoCarrito;
       color: $colorprimario;
    }

}

